body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: #EEEAE1;
    font-family: "Reddit Mono", monospace;
    font-weight: 300;
}

/* Navigation */
#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 8px;
    background-color: #EEEAE195;
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.social-links {
    padding-left: 24px;
    display: flex;
    flex-direction: row;
    gap: 44px;
}

.georgia-logo {
    padding-left: 188px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    list-style-type: none;
    align-items: center;
}

li {
    padding: 8px;
    padding-right: 24px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-style: italic;
}

.nav-subscribe {
    display: flex;
    flex-direction: row;
    padding: 8px 14px 8px 14px;
    border-radius: 99px;
    border: 1px solid #5B274A;
    color: #5B274A;
    font-family: "Reddit Mono", monospace;
    font-size: 0.875em;
    font-weight: 300;
    margin-right: 0px;
    background-color: #5B274A15;

}

.nav-subscribe:hover {
    font-style: italic;
}

@media screen and (max-width: 1200px) {
    #nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .georgia-logo {
        padding-left: 0px;
        padding-top: 24px;
    }

    .social-links {
        padding-top: 24px;
        padding-left: 0px;
    }

    .nav-subscribe {
        background-color: #EEEAE1;
    }
}

@media screen and (max-width: 600px) {
    #nav {
        font-size: 0.875em;
        position: relative;
        top: 0px;
    }

}

/*Arrow*/
#hero-image {
    display: flex;
    flex-direction: column;
}

.arrow-container {
    display: inline-block;
    align-content: center;
    justify-items: center;
    height: 136px;
    text-align: center;
    border-bottom: 1px solid #000000;

}

@media screen and (max-width: 600px) {
    .arrow-container {
        height: 96px;
    }

}

/*Tour Section*/

#tour-section {
    background-image: url(assets/flower-bg-1.png);
    display: flex;
    flex-direction: column;
    padding-top: 36px;
}

.tour-container {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #F1EFE8;
    padding: 24px 24px 24px 24px;
    border: 1px solid #000000;
    border-radius: 4px;
    margin-top: 48px;
    margin-bottom: 24px;
}

.tour-header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #8E8829;
    margin-bottom: 16px;
}

.tour-header {
    font-size: 3em;
    font-weight: 300;
    color: #3e3e3e;
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
}

.tour-event-container {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
    border-bottom: 1px solid #8D882843;
    align-items: center;
    flex-wrap: wrap;
}

.tour-event-container-last {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
    align-items: center;
    flex-wrap: wrap;

}

.tour-button {
    border: 1px solid #5B274A;
    border-radius: 99px;
    color: #5B274A;
    font-family: "Reddit Mono", monospace;
    padding: 8px 24px 8px 24px;
    font-size: 0.875empx;
}

.tour-button:hover {
    box-shadow: 0px 0px 10px 2px #B671B440;
    font-style: italic;
}

.date {
    font-size: 1.125em;
    font-weight: 400;
}

.city {
    font-weight: 400px;
    letter-spacing: 1px;
}


.all-td {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.all-tour-button {
    border: 1px solid #5B274A;
    border-radius: 99px;
    color: #5B274A;
    font-family: "Reddit Mono", monospace;
    padding: 8px 24px 8px 24px;
    font-size: 0.875em;
    margin-bottom: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.all-tour-button:hover {
    box-shadow: 0px 0px 10px 2px #B671B440;
    font-style: italic;
}


@media screen and (max-width: 1200px) {

    .tour-event-container,
    .tour-event-container-last {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .tour-header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {

    .tour-event-container,
    .tour-event-container-last {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .tour-header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*Music Section*/
#music-section {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 56px;
    padding-bottom: 56px;
}

.music-content-wrapper {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.album-container {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
}

.music-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.music-subtitle {
    font-size: 1em;
    color: #5B274A;
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: 10px;

}

.album-title {
    font-weight: 300;
    font-size: 1.3em;
    margin-bottom: 12px;
    text-align: center;
}

.play-button {
    border: 1px solid #5B274A;
    border-radius: 99px;
    color: #5B274A;
    font-family: "Reddit Mono", monospace;
    padding: 8px 24px 8px 24px;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    background-color: #EEEAE1;
}

.play-button:hover {
    box-shadow: 0px 0px 10px 2px #C359AB30;
    font-style: italic;
}

@media screen and (max-width: 600px) {
    .music-content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .arrow-svg-left,
    .arrow-svg-right {
        display: none;
    }

}

/*Merch Section*/
#merch-section {
    background-image: url(assets/merch-bg.png);
    background-image: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 686px;
    border-bottom: 1px solid #000000;
}

.merch-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    gap: 24px;
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

.merch-header-text {
    font-size: 2.25em;
    margin-bottom: 24px;
}

.merch-content-wrapper {
    padding: 24px;
    background-color: #F5F3EB;
    border: 1px solid black;
    border-radius: 2px;

}

hr {
    color: #8E8829;
    border-top: 1px solid #000000;
    border-left: none;
}

.merch-title {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 1.25em;
    font-weight: 400;
    color: #000000;
}

.merch-button {
    border: 1px solid #5B274A50;
    border-radius: 99px;
    color: white;
    font-family: "Reddit Mono", monospace;
    padding: 8px 24px 8px 24px;
    font-size: 0.875em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-weight: 300;
    background-color: #BEA9B1;
}

.merch-button:hover {
    font-style: italic;

}

.merch-text-wrapper {
    padding: 0px 24px 8px 24px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

/*Video Section*/
#video-section {
    margin-left: 10%;
    margin-right: 10%;
}

.video-heading {
    margin-top: 24px;
    font-size: 3em;
    border-bottom: 2px solid #8E8829;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
}

.video-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-top: 36px;
    margin-bottom: 48px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
}

@media screen and (max-width: 1200px) {

    .video-content {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 0.875em;

    }
}

/*Newsletter Section*/
#newsletter-section {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    align-items: center;
    padding-top: 24px;
    background-image: url(assets/flower-bg-2\ \(1\).jpg);
    gap: 16px;

}

.newsletter-header {
    font-size: 2.5em;
    padding-top: 8px;
    border-bottom: 1px solid #8E8829;
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
}

.userInput {
    border: 1px solid #000000;
    padding: 0px 12px 0px 12px;
    font-size: 0.75em;
    font-family: "Reddit Mono", monospace;
    min-width: 375px;
    background-color: #EEEAE1;
    border-radius: 70px;

}

.userInput:hover {
    border: 2px solid #5B274A50;
}

.userInput:focus {
    border: 2px solid #5B274A50;
    outline: none;
}

.submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 10px 12px 10px 12px;
    border-radius: 99px;
    border: 1px solid #000000;
    background-color: #EEEAE1;
    font-family: "Reddit Mono", monospace;
    font-size: 0.75em;
    letter-spacing: 1px;
    font-weight: 300;
}

.submit:hover {
    box-shadow: 0px 0px 10px 2px #B671B440;
    font-style: italic;
}

.newsletter-form {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.text-me-content {
    font-size: 14px;
    color: #5B274A;
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 8px;
    margin-bottom: 56px;
    font-weight: 400;
}

@media screen and (max-width: 600px) {
    .userInput {
        min-width: 236px;

    }
}

/*Footer*/
#footer {
    padding-top: 88px;
    padding-bottom: 88px;
    border-top: 1px solid #000000;
}

.footer-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    gap: 64px;
}

.socials-copyright-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .social-links {
    gap: 24px;
    padding-left: 0px;
}

.copyright {
    margin-top: 24px;
    font-size: 0.75em;
    width: 450px;
    letter-spacing: 2px;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;

}

@media screen and (max-width: 600px) {
    .footer-content-wrapper {
        text-align: center;
    }

    .copright {
        font-size: 0.75px;
        padding-left: 10px;
        padding-right: 10px;
        width: 375px;
    }
}