body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: #EEEAE1;
    font-family: "Reddit Mono", monospace;
    font-weight: 300;
}

/* Navigation */
#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 8px;
    background-color: #EEEAE195;
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.nav-socials {
    padding-left: 24px;
    display: flex;
    flex-direction: row;
    gap: 44px;
}

.georgia-logo {
    padding-left: 188px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    list-style-type: none;
    align-items: center;
}

li {
    padding: 8px;
    padding-right: 24px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-style: italic;
}



.nav-subscribe {
    display: flex;
    flex-direction: row;
    padding: 8px 14px 8px 14px;
    border-radius: 99px;
    border: 1px solid #5B274A;
    color: #5B274A;
    font-family: "Reddit Mono", monospace;
    font-size: 0.875em;
    font-weight: 300;
    margin-right: 0px;
    background-color: #5B274A15;

}

.nav-subscribe:hover {
    font-style: italic;
}

@media screen and (max-width: 1200px) {
    #nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .georgia-logo {
        padding-left: 0px;
        padding-top: 24px;
    }

    .nav-socials {
        padding-top: 24px;
        padding-left: 0px;
    }
}

@media screen and (max-width: 600px) {
    #nav {
        font-size: 0.875em;
        position: relative;
        top: 0px;
    }

}

/*Arrow*/
#hero-image {
    display: flex;
    flex-direction: column;
}

.arrow-container {
    display: inline-block;
    align-content: center;
    justify-items: center;
    height: 136px;
    text-align: center;
    border-bottom: 1px solid #000000;

}

@media screen and (max-width: 600px) {
    .arrow-container {
        height: 96px;
    }

}

/*Tour Section*/

#tour-bg {
    background-image: url(assets/flower-bg-1.jpg);
    display: flex;
    flex-direction: column;
    padding-top: 36px;
}

.tour-container {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #F1EFE8;
    padding: 24px 24px 24px 24px;
    border: 1px solid #000000;
    border-radius: 4px;
    margin-top: 48px;
    margin-bottom: 24px;
}

.tour-header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #8E8829;
    margin-bottom: 16px;
}

.tour-header {
    font-size: 3em;
    font-weight: 300;
    color: #3e3e3e;
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
}



.tour-event-container {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
    border-bottom: 1px solid #8D882843;
    align-items: center;
    flex-wrap: wrap;
}

.tour-event-container-last {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
    align-items: center;
    flex-wrap: wrap;

}

.tour-button {
    border: 1px solid #5B274A;
    border-radius: 99px;
    color: #5B274A;
    font-family: "Reddit Mono", monospace;
    padding: 8px 24px 8px 24px;
    font-size: 0.875empx;
}

.tour-button:hover {
    box-shadow: 0px 0px 10px 2px #B671B440;
    font-style: italic;
}

.date {
    font-size: 1.125em;
    font-weight: 400;
}

.city {
    font-weight: 400px;
    letter-spacing: 1px;
}


.all-td {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.all-tour-button {
    border: 1px solid #5B274A;
    border-radius: 99px;
    color: #5B274A;
    font-family: "Reddit Mono", monospace;
    padding: 8px 24px 8px 24px;
    font-size: 0.875em;
    margin-bottom: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.all-tour-button:hover {
    box-shadow: 0px 0px 10px 2px #B671B440;
    font-style: italic;
}


@media screen and (max-width: 1200px) {

    .tour-event-container,
    .tour-event-container-last {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .tour-header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width: 600px) {

    .tour-event-container,
    .tour-event-container-last {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .tour-header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}